.transpbox{
    text-align: left; 
    background: rgba(255, 255, 255, 0.55); 
    width: 600px; 
    height: 450px; 
    border-radius: 30px; 
    text-align: center; 
    color: black; 
    margin: 0 auto; 
    word-wrap: break-word; 
    line-height: normal; 
    padding-top: 20px; 
    padding-right: 30px; 
    padding-bottom: 20px; 
    padding-left: 30px;
}