<!DOCTYPE html>
<html style="height:100%;">
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}">
    <script type="text/javascript" src="{{url_for('static', filename='js/main.js')}}"></script>

    <title>Leonardo </title>
  </head>
  <body background="{{url_for('static',filename='img/many_green_chilis.jpg')}}" style="height:100%; background-position:center; background-repeat: no-repeat; background-size:cover">
    

    <div id="mySidenav" class="sidenav">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        <a href="{{ url_for('index') }}">Start</a>
        <a href="{{ url_for('cv') }}">CV</a>
        <a href="{{ url_for('agent0') }}">Leonardo</a>
        </br/>
        </br/>
        <a href="https://github.com/jn01674361">Github</a>
    </div>
    <span class="transp-span" onclick="openNav()">&#9776; menu</span>
    <div>
      
      <br/>
      <div class="transpbox transpbox-bigger">    
      
        
        <h2 style="color:black"> Welcome! </h2>
      
      
      
        <h2 style="color:black text">
            Please ask Leonardo some stuff about chili!
        </h2>
        <div>
            <!-- <form method="POST">
                <input name="text">
                <input type="submit">
            </form>
             <p>{{my_function()}}</p> -->
            <iframe
            allow="microphone;"
            border-radius: 30px; 
            width="700"
            height="500"
            src="https://console.dialogflow.com/api-client/demo/embedded/c480f8ac-06eb-4aeb-9794-be0219f64243">
          </iframe>
        </div>

    </div>
 
    
   
    
    
      
      
  </div>
      
  </body>

</html>

<script> 
  var coll = document.getElementsByClassName("collapsible");
  var i;

  for (i = 0; i < coll.length; i++) {
  coll[i].addEventListener("click", function() {
    this.classList.toggle("active");
    var content = this.nextElementSibling;
    if (content.style.display === "block") {
      content.style.display = "none";
    } else {
      content.style.display = "block";
    }
  });
  }
</script>

