<!DOCTYPE html>
<html style="height:100%">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}">
    <script type="text/javascript" src="{{url_for('static', filename='js/main.js')}}"></script>
    <title>JoarNykvist.com </title>
  </head>
  <body background="{{ url_for('static', filename='img/beach.jpg') }}" style="height:100%; background-position:center; background-repeat: no-repeat; background-size:cover">
    <div>
    <div class="container">
        <div class="bird-container bird-container--one">
            <div class="bird bird--one"></div>
          </div>
          
          <div class="bird-container bird-container--two">
            <div class="bird bird--two"></div>
          </div>
          <div class="bird-container bird-container--three">
              <div class="bird bird--three"></div>
            </div>
            
            <div class="bird-container bird-container--four">
              <div class="bird bird--four"></div>
            </div>
    </div>
        <div> 

            <div id="mySidenav" class="sidenav">
              <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
              <a href="{{ url_for('index') }}">Start</a>
              <a href="{{ url_for('cv') }}">CV</a>
              <a href="https://github.com/jn01674361">Github</a>
              <br/>
              <br/>
              <br/>
              <br/>
              <a> <u>Projects</u> </a>
              <a href="{{ url_for('leo') }}">Chili Chatbot</a>
            </div>
            <span class="transp-span" onclick="openNav()">&#9776; menu</span>
            
            <div class="transpbox transpbox-medium">
              <h2 style="text-align: center; color: black">Welcome!</h2>
              <p style="color:black; text-align:left;">
      
                My name is Joar Nykvist, and here I will upload different things that I am working on, along with information about myself and my background. 
                <br/>
                <br/>
                <br/>
                Click the <b>menu</b> on the left to navigate the site.
                <br/>
                <br/>
                <br/>
                <img src="{{url_for('static', filename='img/namaste.JPG')}}" width="220" height="200" style="border-radius: 30px;" class="center">

              </p>
              
            </div>
            
            <div>
              
            </div>
          </div>

    </div>
    
  </body>
</html>
