<html><head>
  <SCRIPT src="http://java.com/js/dtjava.js"></SCRIPT>
<script>
    function launchApplication(jnlpfile) {
        dtjava.launch(            {
                url : 'static/deployment.jnlp'
            },
            {
                javafx : '8.0+'
            },
            {}
        );
        return false;
    }
</script>

<script>
    function javafxEmbedcom() {
        dtjava.embed(
            {
                id : 'com.sudoku',
                url : 'static/deployment.jnlp',
                placeholder : 'javafx-app-placeholder',
                width : '500',
                height : '500'
            },
            {
                javafx : '8.0+'
            },
            {}
        );
    }
    dtjava.addOnloadCallback(javafxEmbedcom);
</script>
<title>Sudoku</title>
</head>
<body background="{{url_for('static',filename='img/flowers.jpg')}}" style="height:100%; background-position:center; background-repeat: no-repeat; background-size:cover">

<h2>Test page for <b>SudokuGUI</b></h2>
  <b>Webstart:</b> <a href="{{url_for('static', filename='deployment.jnlp')}}" onclick="return launchApplication('deployment.jnlp');">click to launch this app as webstart</a><br><hr><br>

  <!-- Applet will be inserted here -->
  <div id='javafx-app-placeholder'></div>
</body></html>
